# XARVIS CONFIGURATION EXAMPLE
SECRET_KEY=your_secret_key_here
USERNAME=admin
PASSWORD=your_password_here
CERT_PATH=/path/to/XarvisCore/xarvis_certificados/cert.pem
KEY_PATH=/path/to/XarvisCore/xarvis_certificados/key.pem
BACKUP_PATH=/path/to/backups
